@charset "utf-8";
/* CSS Document */
html, body {
  height: 100%;
}

#index body {
/*...stuff here...*/
  position: relative; /*stabiliseren van IE*/
}

#container, #navigation {
  min-width: 760px;
  position: relative;  /*this you need on your footer, position: relative;*/
}

/*IE6 hack for min-width... skipped*/

#container {
  min-height: 100%; /*100% height model again*/
  font: normal 1em/1.5em arial, helvetica, sans-serif;
}
* html #container {
  height: 100%; /*IE6*/
}
/*here's footer:*/
#navigation {
	width: 100%;
	background-color: #03F;
	border-top: 1px solid #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

/*IE6 and below don't understand position: fixed... if you need to support them,
you'll need this... does NOT work on browsers who have Javascript turned off!*/
* html #navigation {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0px;
	overflow: visible;


  top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
	top: 194px;
	height: 63px;
}
/*that was the CSS Expression for position: fixed at the bottom of the page.  I don't Javascript so this
is a copy and not necessarily the best code to get the effect, but it works
the rest is my menu inside.*/
#navmenu {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 50em;/*so I could center it within #navigation*/
}

	#navmenu li {
	  display: inline;
	  padding: 0 5px;
	  background-color: #34769a;
	}
	 #navmenu a {
	  font: bold 16px/36px baskerville, times, "times new roman", serif;
	  text-decoration: underline;
  	  text-align: center;
	  color: #fff;
	  white-space: nowrap;
	}
	#navmenu a:focus, #navmenu a:hover, #navmenu a:active {
  	  color: #a9076a;
	}
#index html, body {
  height: 100%;
}
#index  {
	margin: 0;
	padding: 0;
	background: url(http://192.168.1.107/idasysv3/imagenes/img01a.gif) repeat-x left top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	position: relative;
}
body  {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	/*text-transform: lowercase;*/
	font-weight: normal;
	color: #7D7D7D;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}
h4 {
	font-size: 23px;
	text-align: center;
}
h5 {
	font-size: 15px;
	text-align: center;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 20px;
	font-size: 11px;
}
.classprueba {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
	font-size: 11px;
}

a:link {
	color: #09F;
}

a:hover, a:active {
	text-decoration: none;
	color: #6DBD0B;
}

a:visited {
	color: #6DBD0B;
}

li {
	color: #6DBD0B;
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 22px;
	font-size: 13px;
	cursor: pointer;
}
.fecyhor {
	color: #6DBD0B;
	font-size: 9px;
	cursor: pointer;
	text-align: left;
}
.eliminar {
	color: #FF0000;
	font-size: 8px;
	cursor: pointer;
	text-align: left;
}

li:hover, a:active {
	text-decoration: none;
	color: #6DBD0B;
	font-size: 15px;
}
#tableparametro:hover, a:active {
	font-size: 10px;
	cursor: pointer;
}
.subir:hover, a:active {
	font-size: 12px;
	cursor: pointer;
}
.iconos:hover, a:active {
	cursor: pointer;
}

li:visited {
	color: #6DBD0B;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-bottom: 0px;
	border: 1px Solid #000099;
}

/* Header */

#header {
	float: left;
	width: 860px;
	height: 43px;
	margin: 0 auto;
}

/* Menu */

#menu {
	width: 860px;
	margin: 0;
	padding: 0;
}

#menu ul {
	float: right;
	display: block;
	margin: 0;
	padding: 0px 0 0 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	margin-right: 3px;
	padding: 5px 7px 5px 5px;
	letter-spacing: -.5px;
	text-decoration: none;
	text-transform: lowercase;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .numbertxt {
	font-size: 28px;
	color: #C4F28D;
}

#menu span {
	margin: 0;
	padding: 0;
}

/** LOGO */

#logo {
	clear: both;
	width: 860px;
	height: 80px;
	margin: 0 auto;
	background: url(http://192.168.1.107/idasysv3/imagenes/img02a.gif) no-repeat left top;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0 0 0 75px;
	line-height: normal;
}

#logo h1 {
 	color: #006600;
	}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	float: left;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #66B209;
}

#logo p a {
	text-decoration: none;
}

#logo p a:hover { text-decoration: underline; }



/* Content */

#content {
	float: right;

}

/* Post */

.post {
	padding: 15px 15px;
}

.post .title {
	/*margin-bottom: 20px;*/
	border-bottom: 1px dotted #D1D1D1;
	background: url(http://192.168.1.107/idasysv3/imagenes/img04.jpg) repeat-x left bottom;
}

.post .entry {
}

.post .meta {
	height: 70px;
	padding: 40px 15px 0px 15px;
	background: url(http://192.168.1.107/idasysv3/imagenes/img03.jpg) repeat-x left top;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
	background: url(http://192.168.1.107/idasysv3/imagenes/img09.gif) no-repeat left 50%;
}

.post .meta .comments {
	padding-left: 22px;
	background: url(http://192.168.1.107/idasysv3/imagenes/img08.gif) no-repeat left 50%;
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 215px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 15px;
}

#sidebar li ul {
	background: url(http://192.168.1.107/idasysv3/imagenes/img03.jpg) repeat-x left bottom;
	padding-bottom: 10px;
}

#sidebar li li {
	margin: 0;
	padding-left: 12px;
}

#sidebar h2 {
	padding-top: 20px;
	margin-bottom: 10px;
	background: url(http://192.168.1.107/idasysv3/imagenes/img04.jpg) repeat-x left bottom;
	border-bottom: 1px dotted #D1D1D1;
	font-size: 18px;
}

/* Search */

#search {
	background: url(http://192.168.1.107/idasysv3/imagenes/img03.jpg) repeat-x left bottom;
	margin-bottom: 20px;
}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 115px;
	margin-right: 5px;
	margin-left: 15px;
	margin-bottom: 20px;
	padding: 3px 0px 3px 15px;
	border: 1px solid #F0F0F0;
}

#x {
	margin-bottom: 20px;
	padding: 3px 3px 3px 3px;
	background: #ECECEC;
	border: none;
	text-transform: lowercase;
	font-size: 11px;
	color: #4F4F4F;
}

/* Boxes */

.box1 {
	padding: 20px;
	background: url(http://192.168.1.107/idasysv3/imagenes/img05.gif) no-repeat;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	background: url(http://192.168.1.107/idasysv3/imagenes/img10.gif) repeat-x left bottom;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#legal {
	clear: both;
	padding-top: 0px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
}
.Estilo3 {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 0px;
	padding: 0px 0 0 0px;
}
.Estilo4 {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.Estilo5 {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
}

.noticias {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #006600;
}
table.tablapasoscss {
	font-family:arial;
	background-color: #CDCDCD;
	margin:5px 0pt 5px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablapasoscss thead tr th, table.tablapasoscss tfoot tr th {
	background-color: #E6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color: #333333;
	text-align: center;
}
table.tablapasoscss thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablapasoscss tbody td {
    color: #3D3D3D;
    padding: 2px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablapasoscss tbody tr.odd td {

}
table.tablapasoscss thead tr .headerSortUp {
    background-image: url(http://192.168.1.107/idasysv3/imagenes/asc.gif);
}
table.tablapasoscss thead tr .headerSortDown {
    background-image: url(http://192.168.1.107/idasysv3/imagenes/desc.gif);
}
table.tablapasoscss thead tr .headerSortDown, table.tablapasoscss thead tr .headerSortUp {
background-color: #8dbdd8;
}
table.tablatecnicos {
	display:none;
    font-family:arial;
    background-color: #CDCDCD;
    margin:5px 0pt 5px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablatecnicos  td {
    color: #3D3D3D;
    padding: 2px;
    background-color: #FFF;
    vertical-align: top;
	width: 100%;
}
table.tablamodelaje {
	font-family:arial;
	background-color: #CDCDCD;
	margin:5px 0pt 5px;
	font-size: 7pt;
	text-align: center;
}

table.tablamodelaje tbody td {
    color: #3D3D3D;
    padding: 2px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablamodelaje thead tr th, table.tablamodelaje tfoot tr th {
	background-color: #E6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color: #333333;
	text-align: center;
}


table.usuariosconectados {
    font-family:Arial, Verdana;
    background-color: #CDCDCD;
    font-size: 10px;
    width: 100%;
    text-align: left;
}
table.usuariosconectados thead tr th, table.usuariosconectados tfoot tr th {
	background-color: #E6EEEE;
	border: 1px solid #FFF;
	font-size: 10px;
	padding: 0px;
	color: #333333;
	text-align: left;
}
table.usuariosconectados tbody td {
    color: #3D3D3D;
    padding: 0px;
    background-color: #FFF;
    vertical-align: top;
}


.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1;
			opacity:.70;
			filter: alpha(opacity=70);
		}
.white_content {
	display: none;
	position: absolute;
	top: 28px;
	left: 155px;
	width: 75%;
	height: 70%;
	padding: 0px;
	border: 1px solid #0000CC;
	background-color: white;
	z-index:2000;
	overflow: auto;

		}
		
.white_content_tnye {
			display: none;
			position: absolute;
			top: 40%;
			left: 20%;
			width: 70%;
			height: 40%;
			padding: 0px;
			border: 1px solid #0000CC;
			background-color: white;
			z-index:2;
			overflow: auto;

		}

.cuerporec{
	margin-top: 4px;
	margin-right: 10pt;
	margin-bottom: 10px;
	margin-left: 0pt;
	font-family: Arial, Verdana;
	font-size: 9px;
}

.cuerporec ul{
   margin-top: 0px;
   margin-right: 10px;
   margin-bottom: 0px;
   margin-left: 0px;
   padding-top: 0pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 3px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.cuerporec li{
	padding: 0px 0 0px 0px;
	font-size: 8pt;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-right: 10pt;
	margin-bottom: 2px;
	margin-left: 10pt;
	border: 1px solid #0033FF;
}
.cuerporec input {
	font-size: 9px;
	margin-bottom: 0px;
	border: 0px Solid #000099;
}
#detalle{
			display: none;
			
		}
.formulario{
			font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
			font-size: 11px;

			/* text-align:center */
		}
.formclass {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}

td.colortd {
	font-family:arial;
	background-color: #CDCDCD;
	text-align: center;
}
