A.ssm2Items:link	{color:black;text-decoration:none;cursor: default;}
A.ssm2Items:hover	{color:black;text-decoration:none;cursor: pointer;}
A.ssm2Items:active	{color:black;text-decoration:none;cursor: default;}
A.ssm2Items:visited	{color:black;text-decoration:none;cursor: default;}
.style8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}
#parent1 li{	padding: 5px;
				color: #ffffff;	}
#menu3 a.wactive{
	padding: 0 3px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	background-color: #B4B4B4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
			}
#menu3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
			}

table.tablapasoscss {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
#tituloprincipal {
    font-family:arial;
    font-size: 10pt;
    text-align: left;
}

table.tablapasoscss thead tr th, table.tablapasoscss tfoot tr th {
	background-color: #E6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color: #333333;
}
table.tablapasoscss thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablapasoscss tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablapasoscss tbody tr.odd td {
    background-color:#CACACA;
}
table.tablapasoscss thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablapasoscss thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablapasoscss thead tr .headerSortDown, table.tablapasoscss thead tr .headerSortUp {
background-color: #8dbdd8;
} 

.enlaceboton {    font-family: verdana, arial, sans-serif; 
    font-size: 14pt; 
    font-weight: bold; 
    padding: 4px; 
    background-color: #D5A69F; 
    color: #6C3831; 
    text-decoration: none; 
} 
.enlaceboton:link, 
.enlaceboton:visited { 
    border-top: 1px solid #A5554A; 
    border-bottom: 2px solid #A5554A; 
    border-left: 1px solid #A5554A; 
    border-right: 2px solid #A5554A; 
} 
.enlaceboton:hover { 
    border-top: 2px solid #A5554A;
	border-bottom: 1px solid #A5554A;  
    border-left: 2px solid #A5554A;
	border-right: 1px solid #A5554A;
	}
.borrarboton {    font-family: verdana, arial, sans-serif; 
    font-size: 5pt; 
    font-weight: bold; 
	background-color: #D5A69F; 
    padding: 4px; 
    color: #333333; 
    text-decoration: none; 
} 
.borrarboton:link, 
.borrarboton:visited { 
    border-top: 1px solid #A5554A; 
    border-bottom: 2px solid #A5554A; 
    border-left: 1px solid #A5554A; 
    border-right: 2px solid #A5554A; 
} 
.borrarboton:hover { 
    border-top: 2px solid #A5554A;
	border-bottom: 1px solid #A5554A;  
    border-left: 2px solid #A5554A;
	border-right: 1px solid #A5554A;
	}

table.bordepunteado1 {
	border: 2px dotted #0071E1;
}
.style10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.style11 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #0000FF;
}

.Estilo2 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}
.Estilo3 {
	color: #FFFFFF;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Estilo4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000066;
	font-size: 18px;
}
.Estilo5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #99CCFF;
}
body {
	
}

.form1 {
	padding: 15px;
	width: 150px;
}
.form2 {
	padding: 0px;
	background-color: #A9A0B8;
	z-index: 2;
	font-family: "Courier New", Courier, mono;
	font-size: 10px;
}
.label {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0000FF;
	display: block;
}

.campo {
	width: 70px;
	height: 15px;
	margin-bottom: 0px;
	border: 1px Solid #84AA00;
	background: #1E88DF;
	background-image: url(f1.jpg);
	background-repeat: no-repeat;
	padding: 0px;
	color: #669966;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.campo2 {
	width: 300px;
	height: 20px;
	margin-bottom: 0px;
	border: 1px Solid #84AA00;
	background: #1E88DF;
	background-image: url(f1.jpg);
	background-repeat: no-repeat;
	padding: 0px;
	color: #669966;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.campo:hover {
	background-image: url(f3.jpg);
}
.campo2:hover {
	background-image: url(f3.jpg);}
#boton_enviar {
	width: 88px;
	height: 27px;
	margin-left: 80px;
	background: #84AA00;
	border: 1px Solid #84AA00;
	background-image: url(boton.jpg);
	text-indent: -9999px;
}
.Estilo6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
}
.Estilo12 {

	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
.Estilo13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003399;
}
.Estilo61 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.Estilo2a {

	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0000FF;
}
.Estilo12R {


	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
}
.fondo {
	background-color: #9999CC;
}
.fondoOscuro {
	background-color: #3366FF;
	font-family: Arial, Verdana;
	font-size: 10px;
}
.form3 {

	padding: 0px;
	width: 400px;
	height: 500px;
}
.Estilo41 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000066;
	font-size: 10px;
}
.Estilo6f {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	background-color: #40578C;
}
.form2Copia {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
}
