/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background-image: url(images/fondo_meditron.jpg);
	/*background: #F7F7F7 url(images/img01.jpg) repeat-x left top;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*
	color: #787878;
	color: #000000;*/
	color: #333366;
	background-repeat: no-repeat;
	background-position: center top;
}
.login{
	margin: 0;
	padding: 0;
	background-image: url(images/fondo_meditron_idaca.jpg);
	/*background: #F7F7F7 url(images/img01.jpg) repeat-x left top;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*
	color: #787878;
	color: #000000;*/
	color: #333366;
	background-repeat: no-repeat;
	background-position: center top;
}
.sinbody {
	margin: 0;
	padding: 0;
	background-image: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #3366cc;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;	
}

h3 {
	font-size: 1.6em;
	font-style: italic;
}
h4 {
	font-size: 1.6em;
	font-style: italic;
	/*color: #FFF;*/
}
h5 {
	font-size: 1.2em;
	font-style: italic;
	color: #666;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4486C7;
}

a:hover {
}
#iconocambiaparam:hover {
	width: 18px;
	height: 18px;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	margin-bottom:30px;
	padding: 0;
}

/* Header */

#header {
	width: 940px;
	height: 96px;
	margin: 0 auto;
	background-image: url(images/LOGOIDASYS3.png);
	background-repeat: no-repeat;
}
#headerlogin {
	width: 940px;
	height: 96px;
	margin: 0 auto;
	/*background-image: url(images/LOGOIDASYSMED3.png);*/
	background-image: url(images/LOGOIDASYS3.png);
	background-repeat: no-repeat;
}
#hlogo {
	width: 940px;
	height: 60px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	margin: 0;
	padding-top: 30px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menuh {
        font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
        /*margin-top: 20px;*/
		
}
.cuerporec{
	margin-top: 4px;
	margin-right: 10pt;
	margin-bottom: 10px;
	margin-left: 0pt;
	font-family: Arial, Verdana;
	font-size: 9px;
}

.cuerporec ul{
   margin-top: 0px;
   margin-right: 10px;
   margin-bottom: 0px;
   margin-left: 0px;
   padding-top: 0pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 3px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.cuerporec li{
	padding: 0px 0 0px 0px;
	font-size: 8pt;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-right: 10pt;
	margin-bottom: 2px;
	margin-left: 10pt;
	border: 1px solid #0033FF;
}
.cuerporec input {
	font-size: 9px;
	margin-bottom: 0px;
	border: 0px Solid #000099;
}



/* Page */

#page {
	width: 980px;
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* Content */

#content {
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	width: 770px;
	padding: 0px 0px 0px 0px;
}
#content2 {
	background-repeat: no-repeat;
	background-position: center;
	
	width: 100%;
	padding: 0px 0px 0px 0px;
}
#content3 {
	background-repeat: no-repeat;
	background-position: right top;
	/*float: right;*/
	alignment-adjust:central;
	/*width: 770px;*/
	margin: 0 auto 0 auto;
	width: 90%;
	padding: 0px 0px 0px 0px;
}

.post {
	margin-bottom: 15px;
	text-align: center;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #32639A;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.entry {
	/*background-image: url(fondoimagen.png);*/
	background-repeat: no-repeat;
	background-position: right;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 180px;
	padding: 30px 0px 0px 0px;
	color: #787878;
	/*background: #FFFFFF;*/
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	border-left: 1px solid #E2E2E2;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar p {
	text-align: justify;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 15px;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 100%;
	background-image: url(images/barra_med.jpg);
	border-top: 1px solid #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #fff;
	
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	/*color: #8A8A8A;*/
	color: #fff;
}
SELECT{ 
	font-size: 10px; 
} 
#forml {
	font-family: Arial;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	/*color: #CCC;*/
}
#forml legend{
    font-weight:bold;
    font-size:12px;
}
#forml label{
	width:120px;
	float:left;
	text-align:right;
}
#forml input {
    border:1px solid #CCCCCC;
	font-size:11px;
}
#forml textarea {
    border:1px solid #CCCCCC;
	font-size:13px;
}

#opciones {
	margin-top: 0;
	padding: 0;
	text-align: center;
}

#opciones ul, li{
	padding: 0;
	margin: 0;
}

#opciones ul, li{
	list-style-type: none;
}

#opciones li{
	float: left;

}

#opciones a {
	display: block;
	border: none;
	margin: 2px;
	text-align: center;
	text-decoration: none;
}

#menu1 {
	width: 100%;
	height: 34px;
	background: #F7F7F7 url(images/barra_med.jpg) repeat-x left top;
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

}
#menu1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}
 
#menu1 a {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	display: block;
	height: 31px;
	padding-top: 3px;
	border: none;
	margin: 0;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background-image: url(images/barra_med.jpg);
}
 
#menu1 a:hover {
color: #000;
background: #fff;
}
#menu1 h2 {
color: #fff;
background: #000;
text-transform: uppercase;
}
 
#menu1 li {position: relative;
	float: left;
	border-left: 1px solid #0099FF;
	width: 140px;
	height: 31px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: none;
}
 
#menu1 ul ul {
position: absolute;
z-index: 500;
}
 
#menu1 ul ul ul {
position: absolute;
top: 0;
left: 100%;
}
 
#menu1 a:hover, #menu .current_page_item a {
	background: #0099FF;
	text-decoration: none;
}

#menu1 .current_page_item a {
	background: #0099FF;
	padding-left: 0;
}

div#menu1 ul ul {
display: none;
}
 
div#menu1 ul ul,
div#menu1 ul li:hover ul ul,
div#menu1 ul ul li:hover ul ul
{display: none;}
 
div#menu1 ul li:hover ul,
div#menu1 ul ul li:hover ul,
div#menu1 ul ul ul li:hover ul
{display: block;}
.form {
	border:1px solid #006;
	width:98%;
	height: 98%;
	margin:auto;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Arial;
	font-size:10px;
}
.form legend{
    font-weight:bold;
    font-size:12px;
}
.form label{
    
    float:left;
    text-align:left;
}
.form  textarea {
    border:1px solid #CCCCCC;
	font-size:13px;
}
.form input,  password {
    border:1px solid #CCCCCC;
	font-size:11px;
}

.form input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:#990000;
    border:1px solid #000000;
} 
SELECT{ 
	font-size: 10px; 
} 
#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 12px;
	color: #339;
	border-bottom-style: solid;
	border-left-style: none;
	text-align: center;
}
#background-image td
{
	color: #669;
	border-top: 1px solid #fff;
	padding-right: 4px;
	padding-left: 4px;
}
#background-image tfoot td
{
	font-size: 9px;
}
#background-image tbody 
{

	background-repeat: no-repeat;
	background-position: left top;
}
#background-image tbody td
{
	background-image: url(images/backn.png);
}
* html #background-image tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/backn.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}
#menu a {
	display: block;
	width: 155px;
	height: 31px;
	padding-top: 16px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
	background-image: url(images/barra_med.jpg);
	background-repeat: repeat-x;
}


#menu ul {
list-style: none;
margin: 0;
padding: 0;
float: left;
}

 #menu {
	width: 980px;
	height: 47px;
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#menu li {
	float: left;
	border-left: 1px solid #0099FF;
}
table.tabla1 {
	font-family:arial;
	margin:5px 0pt 5px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	background-color: #999;
}
table.tabla1 thead tr th, table.tabla1 tfoot tr th {
	background-color: #6699cc;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color: #333333;
	text-align: center;
}
table.tabla1 tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
	text-align: left;
}
table.tabla1 tbody input:focus 
{
	background-color: #E4E4E4;
}

table.tabla1 tbody td.derecho {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
	text-align: right;
}
table.tabla1 tbody td.centro {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: middle;
	text-align: center;
}

table.tabla1 tbody tr.err td {
	color: #000;
	padding: 2px;
	background-color: #FFD2D2;
	vertical-align: top;
}
table.tabla1 tbody tr.prov td {
	font-weight: bold;
	background-color: #3CF;
}
.tabla1 input password {
    border:1px solid #CCCCCC;
	font-size:10px;
}
.tabla1  textarea {
    border:1px solid #CCCCCC;
	font-size:13px;
}

.flechas img:hover {
	width: 33px;
	height: 33px;
	cursor:pointer;
}
/**/
div.observacion{
	color:#000;
	text-align:justify;
}